.custom-table .ant-table-thead > tr > th {
  
    border: none !important;
    border-left: none;
   
  }
.custom-table .ant-table-thead {
   
    border: none !important;
    border-left: none;
   
  }
.custom-table .ant-table-thead > tr > th .ant-table-cell {
  
    border: none !important;
    border-left: none;
    
  }
.custom-table .ant-table-thead > tr > th::before {
      border: none !important;
    border-left: none;
    
  }

 
.custom-table .ant-table-cell {
  border: none !important;
  border-left: none;
}
  .custom-modal .ant-modal-title {
    text-align: center;
    font-weight: bold; 
    padding: 20px;
}
  
.custom-table .ant-table-row {
    background-color: #E8EBF0!important;
    color: black !important; 
  }

  /* modal css start */
  
  .custom-modal .ant-modal-content {
    background-color: #E8EBF0 !important;
    box-shadow: none;
  }

  .custom-modal .ant-modal-close {
    background-color: #FF6347; 
    color: white; 
  }
  
  .custom-modal .ant-modal-close:hover {
    background-color: #FF4500; 
  }

  
.transaction-detail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px; 
  padding: 20px 20px 20px 20px ;
  background-color: #E8EBF0; 
  border-top: 1px solid #B8C1CF; /* Border on top */
  /* border-bottom: 1px solid #B8C1CF;  */
  color: #333333;
  font-weight: normal;
  background-color: #E8EBF0;
  
}
.transaction-detail:last-child {
 border-bottom: 1px solid #B8C1CF; 
  
  
}

.transaction-detail strong {
  margin-right: 10px; 
}

.custom-modal .download-button {
  background-color: white;
  color: #333333;
  border: 1px solid #333333 !important; /* Ensure the border is applied */
  border-radius: 15px;
  width: 200px;
  height: 44px;
  font-weight: bold;
  text-align: center;
}


/* updated css for transaction details */
.custom-modal .ant-modal-title {
  background-color: #E8EBF0; /* Same background color as rows */
  padding: 35px;
  font-weight: bold;
  color: #333333;
}

.custom-modal .ant-modal-footer {
padding: 50px !important;
}


