.custom-search-input .ant-input-search-button {
    background-color: #193664 !important; /* Change this to your desired color */
    color: white;
    border-radius: 50px !important;
    margin-left: 5px !important;
    
   
    
  }
  
  .custom-search-input .ant-input-affix-wrapper .ant-input-suffix {
    background-color: #FFA500; /* Change this to your desired color */
    border-radius: 0 4px 4px 0; /* Optional: to match the input border-radius */
    padding: 0 50px ; /* Optional: adjust padding as needed */
  }
  
  
  .custom-search-icon svg {
    color: white; /* Change this to yellow */
    fill: white;  /* Ensure the SVG fill color is also set */
  }

  .custom-search-input .ant-input {
    border-radius: 86px !important;
    width: 160px;
    height: 35px;
    padding-left: 15px;
  }