.custom-delete-button {
    background-color: transparent !important;
    border: 2px solid #193664 !important;
    color: black !important;
  }
.custom-Edit-button {
    background-color: #193664  !important;
    color: white!important;
    
  }
.custom-Edit-button:hover {
    /* background-color: red !important;
    color: white!important;
     */
  }