
.ant-upload .ant-upload-select {
    /* width: 800px !important; */
    height: 290px !important;
   
}
.no-padding-textarea .ant-input {
    padding: 0 !important;  /* Remove padding */
  }

  .ant-input {
    padding: 0;
  }


  .custom-delete-button {
    border: 2px solid red;
    color: #193664;
    background-color: transparent;
  }
  
  .custom-delete-button:hover {
    background-color: red;
    color: white;
  }
  