
.ant-upload .ant-upload-select {
    /* width: 800px !important; */
    height: 300px !important;
   
}
.no-padding-textarea .ant-input {
    padding: 0 !important;  /* Remove padding */
  }

  .ant-input {
    padding: 0;
  }